@media only screen and (min-width: 992px) and (max-width: 1200px){
    .container{
        width: 970px;
    }
    .banner-img::before {
        height: 400px;
        width: 400px;
    }
    .heart-img {
        left: -50px;
    }
    .single-service-highlights {
        width: 310px;
        top: -90px;
    }
    .about-img {
        width: 440px;
    }
    .about-content {
        width: 440px;
    }
    .about-content .section-title h4 {
        font-size: 30px;
    }
    .about-content .section-title {
        margin-bottom: 15px;
    }
    .about-content ul {
        margin: 25px 0 30px 0;
    }
    .clinic-highlights .section-title {
        width: 400px;
    }
    .achievements {
        width: 530px;
    }
    .single-achievement {
        width: 250px;
    }
    .single-service {
        width: 310px;
    }
    .single-choose-us {
        width: 322px;
    }
    .why-choose-us {
        margin-bottom: 30px;
    }
    .single-choose-us ul li {
        padding-left: 70px;
    }
    .make-appointment {
        width: 440px;
    }
    .make-appointment h4 {
        font-size: 22px;
    }
    .appointment-content {
        width: 510px;
        padding-left: 70px;
    }
    .appointment-content .section-title h4 {
        font-size: 30px;
    }
    .single-doctor {
        width: 235px;
        margin-right: 10px;
    }
    .single-doctor:last-child{
        margin-right: 0;
    }
    .single-blog {
        width: 310px;
    }
    .single-contact {
        width: 296px;
        padding-right: 20px;
        margin-right: 40px;
    }
    .single-contact span {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .footer-widget {
        width: 227px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    .container{
        width: 750px;
    }
    .logo {
        width: 146px;
    }
    .menu {
        width: 600px;
        text-align: right;
    }
    .logo ul li {
        margin-right: 12px;
    }
    .logo ul li a {
        font-size: 18px;
    }
    .logo ul li a img {
        width: 35px;
    }
    .menu ul li {
        margin-right: 15px;
    }
    .menu ul li a, .single-service-highlights ul li {
        font-size: 14px;
    }
    .banner-area {
        padding: 15px 0;
    }
    .banner-content {
        width: 440px;
        padding-right: 15px;
    }
    .banner-content h1 {
        font-size: 47px;
        line-height: 55px;
        margin-bottom: 30px;
    }
    .banner-img {
        width: 290px;
    }
    .banner-img::before {
        height: 250px;
        width: 250px;
        top: 30%;
    }
    .heart-img {
        top: 14%;
        left: -28px;
        transform: skew(-15deg);
    }
    .single-service-highlights {
        top: 0;
    }
    .single-service-highlights {
        width: 244px;
        margin-right: 8px;
        padding: 15px;
    }
    .single-service-highlights h4 {
        font-size: 17px;
    }
    .single-service-highlights ul li span {
        padding-left: 40px;
    }
    .about-img {
        width: 350px;
        margin-right: 25px;
    }
    .about-content, .achievements {
        width: 375px;
    }
    .about-content .section-title h4, .clinic-highlights .section-title h4 {
        font-size: 29px;
    }
    .about-content  .section-title {
        margin-bottom: 20px;
    }
    .about-content ul {
        margin: 0 0 25px 0;
    }
    .clinic-highlights {
        top: 68px;
    }
    .clinic-highlights .section-title {
        width: 350px;
        margin-right: 25px;
    }
    .single-achievement {
        width: 177px;
        margin-right: 15px;
        padding: 15px;
        margin-bottom: 15px;
    }
    .single-achievement i {
        font-size: 10px;
    }
    .single-achievement h4 {
        font-size: 25px;
        margin: 20px 0 8px 0;
    }
    .single-achievement span, .single-choose-us ul li span  {
        font-size: 15px;
    }
    .services-area, .why-choose-us-area, .doctors-area, .blogs-area, .service-highlights  {
        padding: 50px 0;
    }
    .section-title p {
        width: 70%;
        margin: 0 auto;
    }
    .single-service {
        width: 240px;
        margin-right: 15px;
    }
    .single-service i {
        font-size: 35px;
    }
    .single-service h4 {
        margin: 25px 0;
        font-size: 22px;
    }
    .single-service p {
        margin-bottom: 20px;
        font-size: 15px;
    }
    .services {
        padding-bottom: 50px;
    }
    .single-choose-us {
        width: 250px;
    }
    .single-choose-us ul li i {
        font-size: 18px;
        height: 45px;
        width: 45px;
        line-height: 45px;
    }
    .single-choose-us ul li h4 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .single-choose-us ul li {
        margin-bottom: 35px;
        padding-left: 60px;
    }
    .appointment-area{
        padding-top: 60px;
    }
    .make-appointment {
        width: 350px;
        padding: 20px;   
    }
    .make-appointment h4 {
        font-size: 20px;
    }
    .appointment-content {
        width: 380px;
        padding-left: 0;
    }
    .appointment-content  .section-title {
        margin-bottom: 40px;
    }
    .appointment-content  .section-title h4 {
        font-size: 28px;
    }
    .appointment-content .section-title p{
        width: 100%;
    }
    .review {
        padding-top: 40px;
    }
    .review-person h4 span {
        padding-top: 8px;
    }
    .single-doctor {
        width: 375px;
        margin-bottom: 30px;
    }
    .single-doctor:nth-child(3), .single-doctor:last-child{
        margin-bottom: 0;
    }
    .single-doctor h4 {
        padding: 10px 0 0px 0;
    }
    .single-blog {
        width: 236px;
        margin-right: 10px;
    }
    .blog-content {
        padding: 8px;
        min-height: 167px;
    }
    .blog-content a {
        font-size: 14px;
        margin: 8px 0;
    }
    .blog-content span, .single-contact  a, .quick-links li a, .footer-blogs li a {
        font-size: 13px;
    }
    .contact-area{
        padding-top: 50px;
    }
    .single-contact {
        width: 240px;
        padding-right: 0;
        margin-right: 15px;
        padding-left: 40px;
        border-right: 0;
    }
    .single-contact i {
        height: 30px;
        width: 30px;
        line-height: 27px;
        font-size: 10px;
    }
    .single-contact span {
        font-size: 13px;
        margin-bottom: 0;
    }
    .footer-widget {
        width: 180px;
        margin-right: 10px;
    }
    .footer-widget h4 {
        font-size: 18px;
        margin-bottom: 25px;
    }
    .footer-widget p {
        font-size: 13px;
        padding-right: 15px;
    }
    .quick-links li {
        margin-bottom: 12px;
    }
    .opening-hours li {
        font-size: 13px;
        margin-bottom: 10px;
    }
    .footer-widget .social-links {
        margin-top: 35px;
    }
    .footer-widget .social-links ul li a {
        height: 30px;
        width: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    .footer-widget .social-links ul li {
        margin-right: 3px;
    }
}

@media only  screen and (max-width: 767px){
    .container{
        width: 350px;
    }
    .header-top {
        display: none;
    }
.header-bottom {
	padding: 25px 0 40px;
}
.logo, .single-doctor {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.menu {
	width: 100%;
	text-align: center;
}
.banner-area, .service-highlights-area, .about-area, .services-area, .why-choose-us-area, .appointment-area, .doctors-area, .blogs-area, .footer-area {
	padding: 40px 0;
}
.banner-img, .banner-content {
	width: 100%;
	float: none;
	display: block;
	margin-bottom: 25px;
}
.banner-img img {
	max-width: 60%;
}
.banner-img::before {
	height: 297px;
	width: 297px;
}
.heart-img {
	left: -21px;
}
.triangle-pattern::before {
	height: 89%;
}
.banner-content h1 {
	font-size: 38px;
	line-height: 45px;
	margin-bottom: 30px;
}
.single-choose-us:nth-child(2) {
	display: none;
}
.banner-content {
	padding-top: 0;
}
.single-service-highlights {
	width: 100%;
	top: 0;
	margin-bottom: 20px;
    min-height: 330px;
}
.banner-img, .single-service-highlights:last-child, .single-doctor:last-child{
    margin-bottom: 0;
}
.about-img, .achievements, .clinic-highlights .section-title, .single-service, .single-choose-us {
	width: 100%;
}
.about-content {
	width: 100%;
	padding-top: 30px;
}
.section-title {
	margin-bottom: 30px;
}
.section-title h4 {
	font-size: 27px;
}
.clinic-highlights .section-title h4 {
	line-height: 35px;
}
.clinic-highlights .section-title {
	width: 100%;
	margin: 0 0 50px;
}
.single-achievement {
	width: 100%;
    margin-bottom: 20px;
    margin-right: 0;
}
.achievements .single-achievement:nth-child(2n+1) {
	margin-top: 0;
}
.achievements .single-achievement:nth-child(3), .services .single-service:nth-child(4), .services .single-service:nth-child(5), .single-choose-us ul li:nth-child(3), .footer-blogs li {
	margin-bottom: 20px;
}
.services {
	padding-bottom: 45px;
}
.single-choose-us ul li h4 {
	margin-bottom: 8px;
}
.single-choose-us ul li {
	margin-bottom: 35px;
}
.make-appointment {
	width: 100%;
	margin-right: 0;
	padding: 20px;
	margin-bottom: 20px;
}
.make-appointment h4 {
	font-size: 20px;
}
.appointment-content {
	width: 100%;
	margin-top: 15px;
	padding-left: 0;
}
.appointment-content .section-title h4 {
	font-size: 26px;
}
.review {
	padding-top: 40px;
}
.single-doctor h4 {
	padding: 10px 0 0px 0;
}
.single-blog {
	width: 100%;
	margin-right: 0;
    margin-bottom: 20px;
}
.single-blog:last-child {
	margin-right: 0;
}
.blog-content {
	padding: 15px 30px;
}
.blogs {
	margin-bottom: 0px;
}
.contact-area {
	background-color: #12171F;
	border-bottom: 0;
	padding-bottom: 0;
    padding-top: 50px;
}
.single-contact {
	width: 100%;
	padding-right: 0;
	margin-right: 0;
	border-right: 0;
	margin-bottom: 20px;
	position: inherit;
	padding-left: 0;
	border-bottom: 1px solid #5D5D5D;
	padding-bottom: 25px;
	margin-bottom: 25px;
	text-align: center;
}
.single-contact i {
	position: inherit;
}
.single-contact i {
	height: 35px;
	width: 35px;
	line-height: 33px;
	font-size: 15px;
}
.single-contact span {
    font-size: 13px;
    margin: 8px 0;
}
.single-contact  a {
    font-size: 13px;
}
.footer-widget {
	width: 100%;
	margin-right: 0;
	margin-bottom: 40px;
}
.footer-widget h4 {
	margin-bottom: 10px;
}
.footer-widget .social-links ul {
	margin-top: 18px;
}
.footer-widget .social-links ul li {
	margin-right: 30px;
}
.copyright {
	width: 100%;
    margin-bottom: 10px;
}
.footer-legal-links {
	width: 100%;
    text-align: left;
}
.copyright p, .footer-legal-links ul li a {
	font-size: 12px;
}
}

@media only screen and (min-width: 450px) and (max-width: 767px){
    .container{
        width: 450px;
    }
}