/* 
  Index
  ==

  01. Header Area
  02. Appointment Area
  03. service-highlights Area

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.pt-60{
    padding-top: 60px;
}
.pb-60{
    padding-bottom: 60px;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.btn {
	background: #4e97fd;
	padding: 5px 20px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 17px;
	border-radius: 5px;
	transition: .3s;
	display: inline-block;
}
.btn:hover{
  background: #0ED3B0;
}
.fix:before{
    content: "";
    clear: both;
    display: table;
}
.fix:after{
    content: "";
    clear: both;
    display: table;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}

.section-title {
	margin-bottom: 40px;
}
.section-title h4 {
	font-size: 35px;
	font-weight: 600;
	text-transform: capitalize;
	position: relative;
	margin-bottom: 35px;
	padding-bottom: 35px;
	color: black;
}
.section-title h4::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 178px;
	width: 90px;
	height: 2px;
	background: #ff3636;
}
.section-title h4::after {
	position: absolute;
	content: "";
	bottom: -6px;
	left: 212px;
	height: 15px;
	width: 15px;
	background: #ff3636;
	border-radius: 50%;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* Header Area */
.header-top {
  background: #F7FBFF; 
  padding: 15px 0;
}
.contact {
  width: 500px;
  color: gray;
}
.contact ul li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 300;
}
.contact ul li:last-child, .social-links ul li:last-child{
  margin-right: 0;
}
.contact ul li:hover, .contact ul li:hover a, .social-links ul li a:hover, .logo ul li a:hover, .menu ul li a:hover{
    color: #4E97FD;;
}
.social-links {
  width: 500px;
  text-align: right;
}
.social-links ul li {
	display: inline-block;
    margin-right: 25px;
    font-size: 17px;
}
.contact ul li i {
  margin-right: 10px;
}
.social-links ul li a {
  color: gray;
  display: block;
}

.header-bottom {
	padding: 25px 0;
}
.logo ul li {
  margin-right: 15px;
  display: inline-block;
}
.logo ul li:last-child, .menu ul li:last-child {
  margin-right: 0;
}
.logo ul li a {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px;
}
.menu ul li a {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}
/* #4E97FD */

/* Appointment Area */
.appointment-area {
  background: #F7FBFF;
}
.appointment-content {
  width: 550px;
  margin-right: 20px;
  left: 0px;
}
.appointment-content {
  padding-top: 40px;
}
.appointment-content h1 {
  font-size: 55px;
  line-height: 65px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.appointment-content h1 span{
  color: #0ED3B0;
}
.appointment-content p {
  margin-bottom: 40px;
}
.appointment-img {
  width: 400px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.appointment-img::before {
	position: absolute;
	content: "";
	top: 55%;
	left: 50%;
	height: 425px;
	width: 425px;
	background: #C3DCFF;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.appointment-img img{
  max-width: 84%;
}
.heart-img {
	position: absolute;
	content: "";
	top: 50%;
	left: -62px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.heart-img img {
	height: 80px;
	width: 90px;
	border-radius: 50%;
}
.triangle-pattern::before {
	content: "";
	position: absolute;
	top: 36px;
	right: 0;
	width: 200px;
	height: 93%;
	background-image: repeating-linear-gradient( 60deg, transparent, transparent 10px, #dbeafe 10px, #dbeafe 20px ), repeating-linear-gradient( -60deg, transparent, transparent 10px, #dbeafe 10px, #dbeafe 20px );
	opacity: 1;
	z-index: -55;
}

/* service-highlights Area */
.service-highlights{
  position: relative;
}
.single-service-highlights {
	width: 376px;
	margin-right: 20px;
	background: #4E97FD;
	min-height: 375px;
	padding: 20px 25px;
	position: inherit;
	content: "";
	top: -187px;
	left: 0px;
	z-index: 222;
}
.single-service-highlights:last-child{
  margin-right: 0;
}
.single-service-highlights i {
	color: #fff;
}

.single-service-highlights h4 {
  padding-top: 25px;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
.single-service-highlights p {
	padding: 35px 0 50px 0;
	color: #fff;
}
.single-service-highlights a.btn {
	border: 1px solid #fff;
}
.single-service-highlights a.btn:hover{
  border: 0;
}
.single-service-highlights ul li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
  color: #fff;
}
.single-service-highlights ul li:last-child{
  	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.single-service-highlights ul li span {
	padding-left: 60px;
}

.about {
	color: gray;
}
.about-img {
  width: 550px;
  margin-right: 25px;
}
.about-content {
  width: 575px;
}
.about-content ul {
	margin: 35px 0 40px 0;
}
.about-content ul li{
  position: relative;
  padding-left: 35px;
}
.about-content ul li::before {
	position: absolute;
	content: "\f058";
	font-family: "Font Awesome 5 free";
	font-weight: 700;
	top: 0;
	left: 0;
	color: #0ED3B0;
	font-size: 20px;
}