/* 
  Index
  ==

  01. Header Area
  02. Banner Area
  03. Service Highlights Area
  04. About Area
  05. Clinic Highlights Area
  06. Services Area
  07. Why Choose Us Area
  08. Appointment Area
  09. Doctors Area
  10. Blog Area
  11. Contact Area
  12. Footer Area

*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
.pt-80{
    padding-top: 80px;
}
.pb-80{
    padding-bottom: 80px;
}
.pt-40{
    padding-top: 40px;
}
.pb-40{
    padding-bottom: 40px;
}
.btn {
	background: #4e97fd;
	padding: 5px 20px;
	color: #fff;
	text-transform: capitalize;
	font-weight: 600;
	font-size: 17px;
	border-radius: 5px;
	transition: .3s;
	display: inline-block;
}
.btn:hover{
  background: #0ED3B0;
}
.fix:before{
    content: "";
    clear: both;
    display: table;
}
.fix:after{
    content: "";
    clear: both;
    display: table;
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
}
.section-title {
	margin-bottom: 80px;
}
.section-title h4 {
	font-size: 35px;
	font-weight: 600;
	text-transform: capitalize;
	margin-bottom: 30px;
	color: black;
}

.doctors-area .section-title, .why-choose-us-area .section-title{
  text-align: center;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* Header Area */
.header-top {
  background: #F7FBFF; 
  padding: 15px 0;
}
.header-contact {
	width: 490px;
	color: gray;
}
.header-contact ul li {
	display: inline-block;
	margin-right: 20px;
	font-weight: 300;
}
.header-contact ul li:last-child, .social-links ul li:last-child{
  margin-right: 0;
}
.header-contact ul li:hover, .header-contact ul li:hover a, .social-links ul li a:hover, .logo ul li a:hover, .menu ul li a:hover{
    color: #4E97FD;;
}
.social-links {
	width: 250px;
	text-align: right;
}
.social-links ul li {
	display: inline-block;
    margin-right: 25px;
    font-size: 17px;
}
.header-contact ul li i {
  margin-right: 10px;
}
.social-links ul li a {
  color: gray;
  display: block;
}

.header-bottom {
	padding: 25px 0;
}
.logo ul li {
  margin-right: 15px;
  display: inline-block;
}
.logo ul li:last-child, .menu ul li:last-child {
  margin-right: 0;
}
.logo ul li a {
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}
.menu ul li {
  display: inline-block;
  margin-right: 20px;
}
.menu ul li a {
  text-transform: uppercase;
  color: black;
  font-weight: 500;
}

/* Banner Area */
.banner-area {
  background: #F7FBFF;
}
.banner-content {
  width: 550px;
  margin-right: 20px;
  left: 0px;
}
.banner-content {
  padding-top: 40px;
}
.banner-content h1 {
  font-size: 55px;
  line-height: 65px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.banner-content h1 span{
  color: #0ED3B0;
}
.banner-content p {
  margin-bottom: 40px;
}
.banner-img {
  width: 400px;
  position: relative;
  text-align: center;
  z-index: 2;
}
.banner-img::before {
	position: absolute;
	content: "";
	top: 55%;
	left: 50%;
	height: 425px;
	width: 425px;
	background: #C3DCFF;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}
.banner-img img{
  max-width: 84%;
}
.heart-img {
	position: absolute;
	content: "";
	top: 50%;
	left: -62px;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}
.heart-img i {
	font-size: 40px;
	color: #4e97fd;
}
.triangle-pattern::before {
	content: "";
	position: absolute;
	top: 36px;
	right: 0;
	width: 200px;
	height: 93%;
	background-image: repeating-linear-gradient( 60deg, transparent, transparent 10px, #dbeafe 10px, #dbeafe 20px ), repeating-linear-gradient( -60deg, transparent, transparent 10px, #dbeafe 10px, #dbeafe 20px );
	opacity: 1;
	z-index: -55;
}

/* Service Highlights Area */
.service-highlights{
  position: relative;
}
.single-service-highlights {
	width: 376px;
	margin-right: 20px;
	background: #4E97FD;
	min-height: 375px;
	padding: 20px 25px;
	position: inherit;
	content: "";
	top: -187px;
	left: 0px;
	z-index: 222;
}
.single-service-highlights:last-child{
  margin-right: 0;
}
.single-service-highlights i {
	color: #fff;
}

.single-service-highlights h4 {
  padding-top: 25px;
  color: #fff;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
}
.single-service-highlights p {
	padding: 35px 0 50px 0;
	color: #fff;
}
.single-service-highlights a.btn {
	border: 1px solid #fff;
}
.single-service-highlights a.btn:hover{
  border: 0;
}
.single-service-highlights ul li {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
  color: #fff;
}
.single-service-highlights ul li:last-child{
  	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.single-service-highlights ul li span {
	padding-left: 60px;
}

/* About Area */
.about {
	color: gray;
}
.about-img {
  width: 550px;
  margin-right: 25px;
}
.about-content {
  width: 575px;
}
.about-content ul {
	margin: 35px 0 40px 0;
}
.about-content ul li{
  position: relative;
  padding-left: 35px;
}
.about-content ul li::before {
	position: absolute;
	content: "\f058";
	font-family: "Font Awesome 5 free";
	font-weight: 700;
	top: 0;
	left: 0;
	color: #0ED3B0;
	font-size: 20px;
}

/* Clinic Highlights Area */
.clinic-highlights-area, .appointment-area {
	background-position: center;
	background-size: cover;
	min-height: 565px;
	background-repeat: no-repeat;
	position: relative;
	background-attachment: fixed;
}
.clinic-highlights-area::before, .appointment-area::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #4E97FD;
	opacity: 0.7;
}
.clinic-highlights, .appointment {
	position: relative;
	z-index: 22;
}
.clinic-highlights .section-title {
  width: 500px;
  margin-right: 30px;
}
.clinic-highlights .section-title h4 {
	color: #fff;
	line-height: 50px;
}
.clinic-highlights .section-title p {
  color: #fff;
  margin-bottom: 20px;
}
.clinic-highlights .section-title .btn {
	background-color: transparent;
	border: 1px solid #fff;
	margin-top: 15px;
}
.clinic-highlights .section-title .btn:hover{
  background-color: #0ED3B0;
  border: 0;
}
.achievements {
  width: 540px;
}
.single-achievement {
  width: 260px;
  margin-right: 20px;
  background: #fff;
  padding: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.achievements .single-achievement:nth-child(2n){
  margin-right: 0;
}
.achievements .single-achievement:nth-child(3), .achievements .single-achievement:nth-child(4){
  margin-bottom: 0;
}
.achievements .single-achievement:nth-child(2n+1) {
	margin-top: -27px;
}
.single-achievement i {
	padding: 12px;
	border-radius: 6px;
	color: #fff;
}
.single-achievement h4 {
	font-size: 35px;
	font-weight: 500;
	margin: 25px 0 13px 0;
}
.achievements .single-achievement:nth-child(1) i, .achievements .single-achievement:nth-child(4) i {
	background: #4E97FD;
}
.achievements .single-achievement:nth-child(2) i, .achievements .single-achievement:nth-child(3) i {
	background: #0ED3B0;
}

/* Services Area */
.services-area {
	background: #F7FBFF;
	text-align: center;
}
.services {
	padding-bottom: 100px;
}
.services .single-service:nth-child(3), .services .single-service:last-child{
	margin-right: 0;
}
.services .single-service:nth-child(4), .services .single-service:nth-child(5), .services .single-service:nth-child(6){
	margin-bottom: 0;
}

.single-service {
  width: 376px;
  margin-right: 20px;
  background: #fff;
  margin-bottom: 20px;
  padding: 40px 30px;
  text-align: center;
  transition: .3s;
  position: relative;
}
.single-service:hover {
	box-shadow: 6px 7px 8px 1px rgba(0, 0, 0, .1);
}
.single-service:hover i, .single-service:hover a{
	color: #0ED3B0;
}
.single-service::before {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 3px;
	width: 0;
	background: #4E97FD;
	visibility: hidden;
	transition: .3s;
}
.single-service:hover::before{
	visibility: visible;
	width: 50%;
}
.single-service::after {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	height: 3px;
	width: 0;
	background: #4E97FD;
	visibility: hidden;
	transition: .3s;
}
.single-service:hover::after{
	visibility: visible;
	width: 50%;
}
.single-service i {
  font-size: 40px;
  color: #4E97FD;
  /*! color: #ff3636; */
}
.single-service h4 {
  margin: 30px 0;
  font-size: 25px;
  font-weight: 500;
  text-transform: capitalize;
}
.single-service p {
  color: gray;
  margin-bottom: 30px;
}
.single-service a {
	color: #4E97FD;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: 300;
}

/* Why Choose Us Area */

.single-choose-us {
  width: 390px;
}
.single-choose-us ul li {
  margin-bottom: 75px;
  position: relative;
  padding-left: 75px;
}
.single-choose-us ul li:nth-child(3){
  margin-bottom: 0;
}
.single-choose-us ul li i {
  position: absolute;
  left: 0;
  top: 20px;
  font-size: 20px;
  background: #DCE8FA;
  height: 55px;
  width: 55px;
  line-height: 55px;
  text-align: center;
  border-radius: 50%;
  color: #4E97FD;
}
.single-choose-us ul li h4 {
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	margin-bottom: 15px;
}
.single-choose-us ul li span {
	color: gray;
}

/* Appointment Area */

.make-appointment {
  width: 575px;
  margin-right: 20px;
  padding: 40px;
  background: #fff;
}
.make-appointment h4 {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
}
.make-appointment span {
  color: gray;
  display: block;
  margin: 30px 0;
}
.make-appointment form input {
	width: 100%;
	padding: 15px 10px;
	margin-bottom: 25px;
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	color: gray;
}
.make-appointment form input[type="date"]{
	color: gray;
}
.make-appointment form input[type="submit"]{
	cursor: pointer;
	color: #fff;
}
.make-appointment form input:focus {
	outline: 0;
}
.appointment-content {
	width: 575px;
	margin-top: 60px;
	padding-left: 100px;
}
.appointment-content .section-title{
	width: 100%;
	color: #fff;
}
.appointment-content .section-title h4{
	color: #fff;
}
.review {
  color: #fff;
  padding-top: 80px;
  border-top: 1px solid #ddd;
}
.review-person h4 {
  padding-left: 20px;
}
.review-person h4 span {
  display: block;
  padding-top: 25px;
}
.review-person {
  margin-top: 40px;
}

/* Doctors Area */
.single-doctor {
  width: 292px;
  text-align: center;
}
.doctor-img:hover::before{
  visibility: visible;
  transform: scale(1);
}
.single-doctor:hover .doctor-content{
  visibility: visible;
}
.single-doctor h4 {
  padding: 20px 0 10px 0;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
}
.single-doctor span {
  color: gray;
}

/* Blog Area */
.blogs-area {
  background: #F7FBFF;
  text-align: center;
}
.blogs {
	margin-bottom: 60px;
}
.single-blog {
  width: 376px;
  margin-right: 20px;
}
.single-blog:last-child {
  margin-right: 0;
}
.blog-content {
  padding: 30px;
  background: #fff;
}
.blog-content h6 {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 400;
  color: #4e97fd;
}
.blog-content a {
  font-size: 18px;
  display: block;
  font-weight: 600;
  margin: 15px 0;
}
.blog-content a:hover{
	color: #4e97fd;
}
.blog-content span {
  color: gray;
}

/* Contact Area */
.contact-area{
	background-color: #12171F;
	border-bottom: 1px solid #5D5D5D;
	padding-bottom: 50px;
}
.contact {
  width: 100%;
}
.single-contact {
	width: 345px;
	padding-right: 40px;
	margin-right: 65px;
	border-right: 1px solid #5D5D5D;
	position: relative;
	padding-left: 70px;
}
.single-contact:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: 0;
}
.single-contact i {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
}
.single-contact span {
  display: block;
  color: #fff;
  text-transform: capitalize;
  font-size: 16px;
  margin-bottom: 10px;
}
.single-contact a {
  display: block;
  color: #fff;
}
.single-contact a:hover{
	color: #4e97fd;
}

/* Footer Area */
.footer-area {
  background: #12171F;
  padding-top: 50px;
}
.footer-widget {
  width: 277px;
  margin-right: 20px;
  color: #fff;
}
.footer-widget:last-child {
  margin-right: 0;
}
.footer-widget h4 {
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 35px;
}
.footer-widget p {
  font-size: 14px;
  padding-right: 28px;
}
.quick-links li {
  margin-bottom: 15px;
}
.quick-links li:last-child {
  margin-bottom: 0;
}
.quick-links li a {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
}
.quick-links li:last-child, .footer-blogs li:last-child, .opening-hours li:last-child {
  margin-bottom: 0;
}
.quick-links li a:hover, .footer-blogs li a:hover {
  color: #4e97fd;
}
.footer-blogs li a {
  display: block;
  color: #fff;
  font-size: 14px;
  margin-bottom: 5px;
}
.footer-blogs li span {
  font-size: 12px;
}
.footer-blogs li {
  margin-bottom: 15px;
}
.opening-hours li {
	font-size: 14px;
	margin-bottom: 15px;
}
.footer-widget .social-links {
	width: 100%;
	text-align: left;
	margin-top: 45px;
}

.footer-widget .social-links ul li {
  margin-right: 5px;
}
.footer-widget .social-links ul li:last-child{
	margin-right: 0;
}
.footer-widget .social-links ul li a {
	height: 35px;
	background: #4E4E4E;
	width: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
}
.footer-widget .social-links ul li a:hover {
  background: #0ED3B0;
}

.footer-bottom{
  background-color: #1B2430;
  padding: 30px 0;
  margin-top: 60px;
}
.copyright {
	width: 390px;
}
.copyright p {
  color: #fff;
  font-size: 14px;
}
.copyright p a {
  color: #fff;
  font-size: 14px;
  margin-left: 10px;
}
.copyright p a:hover, .footer-legal-links ul li a:hover {
  color: #4e97fd;
}
.footer-legal-links {
	width: 255px;
	text-align: right;
}
.footer-legal-links ul li {
  display: inline-block;
  margin-right: 20px;
}
.footer-legal-links ul li:last-child {
  margin-right: 0;
}
.footer-legal-links ul li a {
  color: #fff;
  font-size: 14px;
}